include functions.jade

//- Functions vs Mixins
//- Functions: are allowed to be a sub element or an attribute
//- Mixins: allow for sub blocks to be passed in, but are required to be the main element


//- Dump PHP code onto the page
mixin php()
  if ( locals.isPhp ) 
    block

- function php(string)
  if ( locals.isPhp )
    - return string


- function phpInclude( moduleName )
  - return "{{ include('modules/" + moduleName + "/" + moduleName + ".html') }}"


//- Echo
//- To Echo out a variable to the page
- function phpEcho(jadeVar, phpVar)
  if ( locals.isPhp )
    - return '{{ ' + phpVar + ' }}';
  else
    - return jadeVar;

mixin phpEcho(jadeVar, phpVar)
  if ( locals.isPhp )
    | {{ !{phpVar} }}
  else
    | !{jadeVar}
    


mixin phpBlock(blockName)
  if ( locals.isPhp )
    | {% block !{blockName} %}
    | {% endblock %}
  else
    block

//- Add Comment to page
mixin phpComment(comment)
  if ( locals.isPhp )
    | !{nl()}  {# 
    block
    |  #}


//- If
//- 
//- Example:
//- +phpIf(data.items.length > 1, 'items.count() > 1')
//-   div Greater
//- +phpElseIf(data.items.length == 1, 'items.count() == 1')
//-   div equal
//- +phpElse
//-   div Else
//- +phpEndIf
mixin phpIf(jadeVar, phpVar)
  if ( locals.isPhp )
    | !{nl()}  {% if !{phpVar} %}
    block
  else
    - if (typeof lastif === 'undefined') lastif = []
    - lastif.push(jadeVar)
    if jadeVar
      block
      
mixin phpElseIf(jadeVar, phpVar)
  if ( locals.isPhp )
    | !{nl()}  {% elseif !{phpVar} %}
    block
  else
    - if (lastif[lastif.length-1]) {
      //- nothing here
    - } else if(jadeVar) { 
      - lastif[lastif.length-1] = jadeVar
      block
    - }
      
mixin phpElse
  if ( locals.isPhp )
    | !{nl()}  {% else %}
    block
  else
    - if (lastif[lastif.length-1]) {
      //- nothing here
    - } else {
      - lastif[lastif.length-1] = jadeVar
      block
    - }

mixin phpEndIf
  if ( locals.isPhp )
    | !{nl()}  {% endif %}
  else
    - lastif.pop()


//- EACH
//- 
//- Example:
//- +phpEach({"each": data.items, "as": 'pink', index: 'index'}, 'item in items')
//-   li!= phpEcho(pink.name, 'item')
mixin phpEach(jadeVar, phpVar)
  - eval('if (typeof '+jadeVar.as+' === "undefined") '+jadeVar.as+' = {}')
  if ( jadeVar.index )
    - eval('if (typeof '+jadeVar.index+' === "undefined") '+jadeVar.index+' = {}')
  if ( locals.isPhp )
    | #{nl()}  {% for #{phpVar} %}
    block
    | #{nl()}  {% endfor %}
  else
    each phpEachJadeItem, phpEachJadeIndex in jadeVar.each
      - eval(jadeVar.as + ' = phpEachJadeItem;')
      if (jadeVar.index)
        - eval(jadeVar.index + ' = phpEachJadeIndex;')
      block




//- Switch
//- 
//- Example:
//- +phpSwitch(data.item, 'foo')
//-   +phpCase('bar', 'bar')
//-     h1!= data.item
//-   +phpCase('foobar', 'foobar')
//-     h2!= data.item
//-   +phpDefault
//-     p!= data.item
    
mixin phpSwitch(jadeVar, phpVar)
  if ( locals.isPhp )
    | #{nl()}  {% switch #{phpVar} %}
    block
    | #{nl()}  {% endswitch %}
  else
    - if (typeof lastswitch === 'undefined') lastswitch = []
    - lastswitch.push({value: jadeVar, found: false})
    block
    - lastswitch.pop()

mixin phpCase(jadeVar, phpVar)
  if ( locals.isPhp )
    | #{nl()}  {% case '#{phpVar}' %}
    block
  else
    if ( !lastswitch[lastswitch.length-1].found && lastswitch[lastswitch.length-1].value === jadeVar )
      - lastswitch[lastswitch.length-1].found = true;
      block
      
mixin phpDefault(jadeVar, phpVar)
  if ( locals.isPhp )
    | #{nl()}  {% default %}
    block
  else
    if ( !lastswitch[lastswitch.length-1].found )
      block
