
// COLORS

$white:           #ffffff;
$gray90:          #e5e5e5;
$gray80:          #cccccc;
$gray70:          #b2b2b2;
$gray60:          #999999;
$gray50:          #7f7f7f;
$gray40:          #666666;
$gray30:          #4c4c4c;
$gray20:          #333333;
$gray10:          #191919;
$black:           #000000;
$brandPrimary:    #0000ff;
$brandLight:      lighten($brandPrimary, 10%);
$brandDark:       darken($brandPrimary, 10%);

$defaultTextColor: $black;
$linkColor: $brandLight;
$linkColorHover: $brandDark;

// TYPOGRAPHY

$baseLineHeight: 1.25 !default;
$baseFontFamily: Helvetica, Arial, sans-serif;
$headingsFontFamily: Helvetica, Arial, sans-serif;

$bodyFontLightWeight: 300;
$bodyFontNormalWeight: 400;
$bodyFontBoldWeight: 700;
$headingLightWeight: 300;
$headingNormalWeight: 400;
$headingBoldWeight: 700;

// TRANSITIONS

$transitionSuperslow:   0.5s;
$transitionSlower:      0.4s;
$transitionSlow:        0.3s;
$transitionSlowish:     0.25s;
$transitionNormal:      0.2s;
$transitionFast:        0.15s;
$transitionFaster:      0.10s;
$transitionSuperfast:   0.05s;
$transitionFastest:     0.025s;

// Z-INDEX

$zTopLevel: 400;
$zSetForward: 300;
$zMiddle: 200;
$zBottomLevel: 100; 

// GRID

$grid-num-cols: 12;
$grid-mobile-breakpoint: 768px;
$grid-max-width: 1600px;

// EASING

// @import "lib/animation";
